.staticflexcard {
  border: 2px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 220px;
  border-radius: 20px;
  flex: 1;
  margin: 20px;
  max-width: calc(33.333% - 170px);
}
.staticflexcard2 {
  padding: 0px 55px;
}

.flexcardTitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 600;
  padding: 5px 5px;
  text-align: left;
}

.flexcardText {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px 5px;
  text-align: left;
  letter-spacing: 0.55px;
  color: #424244;
}

/* .flexcardTitle,
.flexcardText {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
} */

.static-card-flex {
  display: flex;
  justify-content: left;
  margin: 5px 20px;
  text-align: center;
}

img.flexcardimgItem {
  width: 70%;
  height: 50px;
  margin: 10px 0px;
  width: 15%;
}

/* RESPONSİVE */
@media only screen and (max-width: 800px) {
  .staticflexcard {
    width: 35%;
    margin-top: 20px;
  }

  img.flexcardimgItem {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .staticflexcard {
    width: 70%;
  }
}

.container-cardbox {
  max-width: 1200px;
  margin: 0 auto;
}

.staticflexcard > img {
  align-items: center;
  margin-top: 15px;
}

.staticflexcard a {
  color: #00aeef;
  border-radius: 20px;
  padding: 4px 16px;
  width: auto;
}
