/* .contact-card-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactCard {
  border: 2px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  align-items: center;
  height: 200px;
  border-radius: 20px;
  background: #fffff0;
  min-width: 200px;
}

@media only screen and (max-width: 800px) {
  .contactCard {
    width: 35%;
    margin-top: 20px;
  }
  img.flexcardimgItem {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .contactCard {
    width: 70%;
  }
}

.contactCardTitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  font-weight: bold;
  padding: 5px 5px;
  text-align: left;
}

.contactCard > a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #00aeef;
  padding: 5px 5px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.55px;
} */

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 140%;
  flex-wrap: wrap;
  padding: 20px 20px;
  background-color: #fffff0;
}

.flexcard {
  border: 2px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  align-items: baseline;
  height: 220px;
  border-radius: 20px;
}
.flexcard:hover {
  background-color: #00aeef;
}

.flexcardTitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  font-weight: bold;
  padding: 5px 5px;
  text-align: left;
}

.flexcardText {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px 5px;
  text-align: left;
  letter-spacing: 0.55px;
}

.card-flex {
  display: flex;
  justify-content: left;
  margin: 15px 20px;
}

img.flexcardimgItem {
  width: 70%;
  height: 50px;
  margin: 10px 0px;
  width: 15%;
}

/* RESPONSİVE */
@media only screen and (max-width: 800px) {
  .flexcard {
    width: 35%;
    margin-top: 20px;
  }

  img.flexcardimgItem {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .flexcard {
    width: 70%;
  }
}
/* .flexcardImg a {
  background-color: #00aeef;
  border-radius: 20px;
  padding: 4px 16px;
  width: auto;
  color: #ffffff;
} */

.container-cardbox {
  max-width: 1200px;
  margin: 0 auto;
}
