.breadcrum {
  font-size: 46px;
  position: relative;
}

.breadcrum-container {
  position: absolute;
  margin: -300px 450px;
  text-align: center;
}

.breadcrum h1 {
  font-size: larger;
  color: #ffff;
  display: inline-block;
  text-align: center;
  width: 140%;
}

.breadcrum p {
  font-size: 20px;
  color: #ffff;
  text-align: center;
  display: inline-block;
  letter-spacing: 1.5px;
  width: 140%;
}

.breadcrum-blue-colored-text {
  color: #00aeef;
}

.breadcrum-card {
  overflow: hidden;
  position: relative;
}

.breadcrum-card > img {
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center bottom;
  filter: brightness(35%);
}
