.breadcrum-wrapper {
  margin-top: 11%;
  cursor: grab;
  max-height: 60vh;
}

.slideshow-container {
  position: relative;
  overflow: hidden;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    /* font-size: 11px; */
  }
}
