@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

/* @import "../shared/components/MainFooter/style.css";
@import "../shared/components/Navbar/style.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.core-values > h1 {
  background-color: #fafeff;
  padding: 40px;
  color: #00aeef;
  font-size: xx-large;
  font-weight: bolder;
  text-align: left;
  padding-left: 13.5%;
}

.why-us > h1 {
  padding: 40px 0;
  color: #333;
  line-height: 1.4;
  font-size: larger;
  text-align: center;
  font-weight: 550;
}

.why-us > h2 {
  padding: 40px 0;
  text-align: center;
  font-size: 25px;
  color: #7a7a7a;
}

.flexbox-images-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
