.slider-main-container {
  overflow: hidden;
  background-color: #fffff0;
}

.slideshow-container {
  position: relative;
  overflow: hidden;
}

.mySlides {
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  margin-top: 74rem;
  cursor: grab;
  max-height: 60vh;
}

.mySlides > img {
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  width: 100%;
  background-position: center bottom;
  animation: moveAnimation 100s linear infinite;
  filter: brightness(35%);
  /* object-fit: contain;
  aspect-ratio: 3/2;
  mix-blend-mode: color-burn; */
}

@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: translateX(0);
  }
}

/* The dots/bullets/indicators */
.slider-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade .inactive {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
