.reactcard {
  font-size: 46px;
  position: relative;
}

.reactcard-container {
  position: absolute;
  margin: -350px 250px;
  text-align: left;
}

.reactcard h1 {
  font-size: 56px;
  font-weight: bolder;
  color: #ffff;
  display: inline-block;
}

.reactcard p {
  font-size: 50px;
  font-weight: bolder;
  color: #ffff;
  text-align: left;
  display: inline-block;
  letter-spacing: 2px;
}

.blue-colored-text {
  color: #00aeef;
}

/* crops animations that exceeds one line area */
.line {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-weight: 400;
}

/* lineup class and keyframes */
.lineUp {
  animation: 5s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
